extends layout
block content
    div.container
        // header
        include templates/header
        //content
        div.content.row
            div.container
                //menu in left side
                aside.leftBar.col-md-1
                    ul.menuOfAss
                        li
                            a(href="javascript:void(0)")
                                span.glyphicon.glyphicon-home
                        li
                            a(href="javascript:void(0)")
                                span.glyphicon.glyphicon-user
                        li
                            a(href="javascript:void(0)")
                                span.glyphicon.glyphicon-bell
                //the main viewer in right
                div.viewer.col-md-11
                    article
                        div
    script(type="text/javascript",src="/javascripts/index.js")




