doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../frameworks/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript",src="../frameworks/jquery-2.1.4/jquery.min.js")
    script(rtpe="text/javascript",src="../frameworks/bootstrap/js/bootstrap.min.js")
  body
    block content
