<div class="categoryTitle">
    通知公告
    <div class="assInfo">
        <div class="row">
            <div class="col-md-3">
                <span>社团名字:</span>
            </div>
            <div class="col-md-3">
                <span>关键字:</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span>社团长:</span>
            </div>
            <div class="col-md-3">
                <span>社团人数:</span>
            </div>
        </div>
    </div>
</div>