nav.navbar.navbar-inverse
  div.container-fluid
    //logo
    div.navbar-header
       a(class="navbar-brand",href="#") CSAM
       cite college students' activities platform
    //下拉菜单
    ul.nav.navbar-nav.navbar-right
       li.dropdown
           a(class="dropdown-toggle glyphicon glyphicon-cog",data-toggle="dropdown")
           -if(!user)
               ul.dropdown-menu
                   li
                       a(href="users/toLogin") login
           -else if(title == '主页')
               ul.dropdown-menu
                   li
                       a(href="../users/toPersonal") 个人中心
                       a(href="../users/logout") 登出
           -else
               ul.dropdown-menu
                   li
                       a(href="toPersonal") 个人中心
                       a(href="logout") 登出