body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    background: -webkit-linear-gradient(left, #53e3a6 0%, #50a3a2 50%,#53e3a6 100%);
}
body.transparent{
    height: auto;
    background:#50a3a2 url('/images/bg1.jpg') no-repeat;
    background-size: 100%;
}
.with-corner{
    width: 100px;
    height: 112px;
    line-height: 112px;
    color:#fff;
    font-weight: bolder;
    background: url('/images/corner.png') no-repeat;
}
.ass_avatar img{
    width: 110px;
    height:110px;
}
/*FONT*/
@font-face {
    font-family: "Tideway";
    src: url("/stylesheets/Tideway.ttf");
}
a {
    color: #00B7FF;
}
.fluid{
    padding: 0;
}
/*TEMPLATES*/
/*HEADER*/
.navbar-inverse{
    border-radius: 0;
    margin-bottom: 0px;
    border:none;
    padding: 15px;
    background: rgba(255,255,255,.3);
}
.navbar-inverse .navbar-brand{

    font-family: "Tideway";
    font-size: 30px;
    color: #fff;
}
.navbar-brand{
    height: auto;
    padding: 0;
}
.navbar-brand>img{
    height: 50px;
}
.nav.navbar-nav>li>a{
    color: #fff;
}
.nav.navbar-nav>li>a:hover{
    cursor: pointer;
}
.animation span:nth-child(1){

}
/*FOOTER*/
footer{
    height: 74px;
    padding: 30px;
    background: transparent;
    color:#fff;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}
.btn{
    margin-right: 8px;
}



/*PAGES*/

/*PAGE INDEX*/
/*USER PANEL*/
.ass{
    height: 300px;
    overflow: hidden;
}
.ass:hover{
    cursor: pointer;
}
.ass:hover .hiddenOpts{
    margin-top: -290px;
}
.hiddenOpts{
    background: rgba(0,0,0,.4);
    margin-top: 10px;
    height: 300px;
    padding: 140px 25px;
    transition: .2s linear;
}
.userInfo{
    width: 110px;
    color:#fff;
}
.userInfo a.smallAvatar{
    padding-top: 10px;
}
.userInfo a.smallAvatar img:hover{
    box-shadow: 0 0 5px 5px lightblue;
}
.userInfo span{
  position: relative;
    top:5px;
}
.smallAvatar img{
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.jumbotron{
    background: transparent;
    color:#fff;
}
.jumbotron.userPanel{
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 0px;

}
.avatar_outer{
    margin-left: 350px;
    width: 750px;
    background: url("/images/arrow.png") no-repeat;
}
.avatar_inner{
    width: 400px;
    padding: 10px 10px 0 10px;
}
.avatar_inner p{
    color:#aaa;
}
.avatar_inner p small{
    font-size: 14px;
}
.avatar{
    width: 100px;
    height:100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 10px auto;
}
.avatar.association{
    margin: 0;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.logined .avatar{
    margin-left:300px;
    margin-bottom: 0;
}
.logined{
    padding: 23px 15px;
}
/*.logined>div{
    float: left;
}*/
.basicInfo{
    padding: 5px 25px;
}
.basicInfo .row{
    margin-top: 5px;
}
/*NEWS PANEL*/
.news:hover{
    cursor: pointer;
}
.news_list{
    position: relative;
    top:-37px;
    background: #fff;
}
.news_carousel{
    height: 455px;
    padding: 0;
}
.news_list{
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #ccc;
}
.carousel-caption {
    top:100px;
}
.carousel-indicators{
    bottom: 40px;
}
.news_carousel .carousel-inner>.item img{
    width: 100%;
    height: 455px;
}
.header_content{
    width: 50%;
}
table{
    table-layout:fixed;
}
td{
    /*width: 50%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
 }
td.news_Content1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.devider{
    height: 40px;
    /*background: #fff;*/
}
.middevider{
    font-size: 20px;
    line-height: 40px;
}
.leftdevider,.rightdevider{
    margin-top: 19px;
    height: 1px;
    background: #000;
}
.search{
    height: 50px;
}
.search .row a{
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color:#2b669a;
}
.search .row a.active{
    background:#2b669a ;
    color:#000;
}
/*LIST PANEL*/
.listPanel{
    margin-top: 10px;
}
.item img{
    height: 200px;
}
.pagePanel{
    
}

/*PAGE LOGIN*/
.loginPanel,.registerPanel{
    padding: 50px 30px;

}
.info,.register_form{
    border-radius: 10px;
    height: 420px;
    border-radius:5px;
}
.login_form{
    margin-top: 60px;
    border-radius: 10px;
}
.login_form h3{
    margin-top: 5px;
}
.login_form,.register_form{
    box-shadow: 0 0 5px 5px lightblue;
    /*background: rgba(255,255,255,.7);*/
}
.login_form{
    padding-top: 10px;

}
.form-item.focus{
    box-shadow: 0 0 5px 5px blue;
}
.tips{
    color:#fff;
    padding-left: 0;
    padding-right: 0;
}
.msgBox{
    height: 30px;
    margin-bottom: 10px;
}
/*PAGE REGISTER*/
.register_form{
}
.alert{
    position: relative;
}
.register_form h2{
    margin-top: 15px;
}
.alert{
    padding: 5px;
}
.invisible{
    display: none;
}
/*PAGE PERSONAL*/
.box{
    padding: 25px;
}
.detials{
    display: block;
}
.content{
    position: relative;
    height: 562px;
    padding: 15px 0px 15px 60px;
}
.title,.accountInfoPanel,.realInfoPanel{
    border-radius: 0;
    margin-bottom: 0;
    border-top: none;
    box-shadow: none;
}
.title{
    padding-top: 20px;
    padding-bottom: 10px;
}
.title h3{
    margin-top: 0px;
}
.categories{
    height: 60px;
}
.category{
    height: 70px;
    text-align: center;
}
.cateIcon{
    height: 30px;
    width: 30px;
    margin: 2px auto ;
    border-radius: 100%;
    font-size: 30px;
}
.avatarPanel{

}
.avatarbox{
    width: 400px;
    height: 150px;
    margin: 0 auto;
}
.upload {
    float: left;
    padding: 6px 12px;
    position: relative;
    top:20px;
    left:32%;
    cursor: pointer;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
    /**display: inline;*/
    *zoom: 1;
}

.upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
.detials{
    margin-top: 5px;
}
.second{
    height: 208px;
}
 .name{
    font-size: 40px;
    color: lightblue;
}
 .pwd{
     font-size: 20px;
 }
.edit:hover{
    cursor: pointer;
}
.oldName{
    line-height: 30px;
}
.opts{
    margin-top: 50px;
}
.opts button,.save button{
    border-radius: 0;
}
.userLevel{
    color:lightblue;
}
.userLevel .infoNow{
    font-size: 100px;

}
.userLevel .infoNow small{
    font-size: 12px;
}
.realInfoPanel h4{
    float: left;
}
.realInfoPanel button{
    float: right;
}
.adminPanel{
    height: 100px;
    background: #ccc;
}
.options{
    position: absolute;
    bottom:20px;
}
aside.leftBar a{
    color:#000;
}
ul.secMenu{
    padding-left: 0;
    font-size: 12px;
}
ul.secMenu li{
    text-align:center;
}
.collapse ul li.active{
    background: #000;

}.contents{
    margin-right:0px;
 }
.collapse ul li.active a{
    color:#fff;
}
.passForm{
    display: inline;
}
/*PAGE ASSOCIATION*/
.leftBar{
    width: 12%;
    height: 562px;
    padding:40px 15px 0 15px;
    background: rgba(255,255,255,.4);
}
.menuOfAss{
    padding-left: 0;
    margin-bottom: 0;
}
.menuOfAss li{
    /*text-align: center;*/
    /*height: 50px;*/
    line-height: 50px;
}
.menuOfAss li.active{
    background: #ddd;
}
.menuOfAss li a{
    margin-left: 15px;
}
.menuOfAss li.active a{
    color:#fff;
}
.menuOfAss li:hover{
   /* background: #ccc;*/
}
.menuOfAss li:hover a{
    /*color:#fff;*/
}
.menuOfAss li a{
    color:#000;
}
.viewer{
    padding: 10px 15px;
    height: 542px;
    border:1px solid #ccc;
    border-left:none;
}
.categoryTitle{
    height: 35px;
    font-size: 20px;
    line-height: 32px;
    background: linear-gradient(left,#ccc,#fff,#fff,#fff);
    background: -moz-linear-gradient(left,#ccc,#fff,#fff,#fff);
    background: -webkit-linear-gradient(left,#ccc,#fff,#fff,#fff);
}
.categoryTitle:before{
    content: '';
    font-size: 29px;
    line-height: 35px;
    border-left:4px solid #000;
    margin-right: 5px;
}
.assInfo{
    padding: 15px;
    font-size: 15px;
}
.assInfo_box{
    display: none;
}
.assInfo_box.active{
    display: block;
}
.assInfo_box{
    font-size: 15px;
}
.assInfo_box .row{
    margin-top: 10px;
}
.messageBox{
    height: 500px;
    overflow: auto;
    background: #fff;
}
.textBox{
    height: 50px;
}