body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*FONT*/
@font-face {
    font-family: "Tideway";
    src: url("/stylesheets/Tideway.ttf");
}
a {
    color: #00B7FF;
}
/*TEMPLATES*/
/*HEADER*/
.navbar-inverse{
    border-radius: 0;
    margin-bottom: 0px;
}
.navbar-inverse .navbar-brand{
    font-family: "Tideway";
    font-size: 30px;
    color: #fff;
}
.nav.navbar-nav>li>a{
    color: #fff;
}
.nav.navbar-nav>li>a:hover{
    cursor: pointer;
}
cite{
    vertical-align: middle;
    padding-top: 40px;
    text-indent: 10px;
    font-family: "Tideway";
    font-size: 25px;
    color: #fff;
  }
/*FOOTER*/
footer{
    height: 100px;
    background: #000;
}





/*PAGES*/

/*PAGE INDEX*/
/*USER PANEL*/
.jumbotron.userPanel{
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 0px;
}
.avatar_outer{
    margin-left: 350px;
    width: 750px;
    background: url("/images/arrow.png") no-repeat;
}
.avatar_inner{
    width: 400px;
    padding: 10px 10px 0 10px;
}
.avatar_inner p{
    color:#aaa;
}
.avatar{
    width: 100px;
    height:100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 10px auto;
}
.avatar.association{
    margin: 0;
}
.avatar img{
    width: 100%;
    height: 100%;
}
.logined .avatar{
    margin-left:300px;
    margin-bottom: 0;
}
.logined{
    padding: 23px 15px;
}
/*.logined>div{
    float: left;
}*/
.basicInfo{
    padding: 5px 25px;
}
.basicInfo .row{
    margin-top: 5px;
}
/*NEWS PANEL*/
.news_carousel{
    height: 400px;
    background: #000;
}
.news_list{
    height:400px;
}
/*LIST PANEL*/
.listPanel{
    margin-top: 10px;
}
.item img{
    height: 200px;
}
.pagePanel{
    
}
/*PAGE LOGIN*/
.loginPanel,.registerPanel{
    padding: 50px 30px;
    background: #cccccc;
}
.info,.login_form,.register_form{
    height: 420px;
}
.login_form{
    padding-top: 70px;
    background: #fff;
}
.form-item.focus{
    box-shadow: 0 0 5px 5px blue;
}
.tips{
    padding-left: 0;
    padding-right: 0;
}
.msgBox{
    height: 30px;
    margin-bottom: 10px;
}
/*PAGE REGISTER*/
.register_form{
}
.alert{
    position: relative;
}
.register_form h2{
    margin-top: 15px;
}
.alert{
    padding: 5px;
}
.invisible{
    display: none;
}
/*PAGE PERSONAL*/
.title,.accountInfoPanel,.realInfoPanel{
    border-radius: 0;
    margin-bottom: 0;
    border-top: none;
    box-shadow: none;
}
.title{
    padding-top: 20px;
    padding-bottom: 10px;
}
.title h3{
    margin-top: 0px;
}
.avatarPanel{

}
.avatarbox{
    width: 400px;
    height: 150px;
    margin: 0 auto;
}
.upload {
    float: left;
    padding: 6px 12px;
    position: relative;
    left: 25%;
    cursor: pointer;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    display: inline-block;
    /**display: inline;*/
    *zoom: 1;
}

.upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.second{
    height: 178px;
}
.username .userNameNow{
    font-size: 60px;
    color: lightblue;
}
.edit:hover{
    cursor: pointer;
}
.oldName{
    line-height: 30px;
}
.opts{
    margin-top: -20px;
}
.opts button{
    border-radius: 0;
}
.userLevel{
    color:lightblue;
}
.userLevel .infoNow{
    font-size: 100px;

}
.userLevel .infoNow small{
    font-size: 12px;
}
.realInfoPanel h4{
    float: left;
}
.realInfoPanel button{
    float: right;
}


/*PAGE ASSOCIATION*/
.leftBar{
    height: 542px;
    border:1px solid #cccccc;
    background: #fff;
    padding: 0;
}
.menuOfAss{
    padding-left: 0;
    margin-bottom: 0;
}
.menuOfAss li{
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.menuOfAss li.active{
    background: #ddd;
}
.menuOfAss li.active a{
    color:#fff;
}
.menuOfAss li:hover{
    background: #ccc;
}
.menuOfAss li:hover a{
    color:#fff;
}
.menuOfAss li a{
    color:#000;
}
.viewer{
    padding: 10px 15px;
    height: 542px;
    border:1px solid #ccc;
    border-left:none;
}
.categoryTitle{
    height: 35px;
    font-size: 20px;
    line-height: 32px;
    background: linear-gradient(left,#ccc,#fff,#fff,#fff);
    background: -moz-linear-gradient(left,#ccc,#fff,#fff,#fff);
    background: -webkit-linear-gradient(left,#ccc,#fff,#fff,#fff);
}
.categoryTitle:before{
    content: '';
    font-size: 29px;
    line-height: 35px;
    border-left:4px solid #000;
    margin-right: 5px;
}
.assInfo{
    padding: 15px;
    font-size: 15px;
}
.assInfo_box{
    display: none;
}
.assInfo_box.active{
    display: block;
}
.assInfo_box{
    font-size: 15px;
}
.assInfo_box .row{
    margin-top: 10px;
}